################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chirkut/.vs/Chirkut
/Chirkut/Chirkut/Chirkut.Web/bin/Debug/net5.0
/Chirkut/Chirkut/Chirkut.Web/obj
